@font-face { font-family: 'Nanum Square'; font-style: normal; font-weight: 400; src: url(./fonts/NanumSquareL.ttf); src: local('Nanum Square'),
local('NanumSquare'),
url(./fonts/NanumSquareL.ttf) format('truetype'),
url(./fonts/NanumSquareL.woff) format('woff'),
url(./fonts/NanumSquareL.eot) format('embedded-opentype')
}

@font-face { font-family: 'Nanum Square B'; font-style: normal; font-weight: 600; src: url(./fonts/NanumSquareB.ttf); src: local('Nanum Square B'),
local('NanumSquareB'),
url(./fonts/NanumSquareB.ttf) format('truetype'),
url(./fonts/NanumSquareB.woff) format('woff'),
url(./fonts/NanumSquareB.eot) format('embedded-opentype')
}

@font-face { font-family: 'cfnmkB'; font-style: normal; font-weight: 400; src: url(./fonts/cfnmkB.ttf); src: local('cfnmkB'),
local('cfnmkB'),
url(./fonts/cfnmkB.ttf) format('truetype'),
url(./fonts/cfnmkB.otf) format('opentype'); }

body {font:15px/1.5 "Nanum Square"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; margin:0; padding:0 }
ul {list-style: none; margin:0; padding:0;}
li {margin-bottom:.5rem}
a {color:black; text-decoration: none;}


.wrapper {opacity:0; animation:2s appear forwards; width:100%; min-height:100vh; padding:4rem; display:flex; box-sizing: border-box; justify-content: center;  background-image:url("./images/bg_plant.jpg"); background-size: cover; background-repeat: no-repeat}
.icon {position: absolute; right:2rem; top:2rem; cursor: pointer; color: white}
.resume {opacity:0; animation:1s appearFadeTop forwards .2s; background-color: white; max-width: 1600px; width: 1200px; display:flex  }

h1, h2, h3, h4, h5 {margin:0; font-family: "Open Sans", sans-serif, 'Nanum Square B' }
h3 {font-family: 'Lobster', cursive; font-size:2rem; font-weight: normal; text-transform: capitalize; margin-bottom:1rem; }
h5 {font-size:1rem}
.kr {font-family: 'Nanum Square'; font-weight: bold; }
.date {font-family: 'Open Sans', sans-serif; font-size:14px}

section {width:100%; margin-bottom:3rem ;line-height: 1.2}
aside {flex:0 0 20%; padding:3rem; border-right: 1px solid #DDD }
.title {font-family: 'Open Sans', sans-serif; text-align: center; text-transform: uppercase; font-weight: bold}
.title .picture {position:relative; overflow: hidden; width:70%; height:0; padding-top:70%; background:url("./images/coralcat.jpg") no-repeat center; background-size: cover; border-radius: 50%; margin:0 auto 2rem }
.title .picture img {visibility:hidden; width:100%; position: absolute; top:0; left: 0}
.title .name {font-family: "cfnmkB"; font-weight: normal}

.profile {border-top:3px solid #F6F6F6; border-bottom: 3px solid #F6F6F6; padding:2rem 0}
.sns ul {display:flex; justify-content: center}
.sns .fa-stack {font-size: .8rem}
.information ul:last-child i::before {display:flex; align-content: center; margin-right: .5rem}
.information span {font-family: 'Arimo', sans-serif; font-size:16px}


.education h4 {font-family: "Nanum Square B"; font-size: 17px}
.education ul, .academy ul {margin-bottom: 2rem}
.academy .date {display:flex; justify-content: space-between}
.academy .date i::before {margin-right: .2rem}


.main {flex:1 1 auto; padding:3rem }
.work h4 {font-family: 'Open Sans', sans-serif; font-size: 18px}
.work div {display:flex; justify-content: space-between; margin-bottom: 2rem;}
.work .links {flex:0 0 20%; display:flex; align-content: center; justify-content: flex-end; flex-wrap:wrap}
.work .links a {color:black;}
.work .links i {}
.work .links .fa-stack {font-size:.7rem}
.work .links .behance .fa-square {color: cornflowerblue}
.work .links .link .fa-square {color: royalblue}

.skills div {display:flex; font-family: 'Open Sans', sans-serif;}
.skills ul {flex:1 1 auto}

@keyframes appear {
    0% {opacity:0; visibility: hidden}
    100% {opacity: 1; visibility: visible}
}

@keyframes appearFadeTop {
    0% {opacity:0; visibility: hidden; transform: translateY(30px)}
    100% {opacity: 1; visibility: visible; transform: translateY(0px)}
}

@media screen and (max-width: 490px) {
    .wrapper {padding:1rem}
    .icon {display: none}
    .resume {flex-direction: column;}
    aside {padding:1.5rem}
    .main {padding:1.5rem}
    .education ul {display:flex; justify-content: space-between; margin-bottom:.5rem}
    .education h4 {font-size:16px}
    .work div {flex-direction: column; justify-content: left; border-bottom:1px solid #eee}
    .work div ul:first-child {margin-bottom: .5rem}
    .work .links {margin-bottom:1rem}
    .work .links a { margin-right:1rem}
}

@media print {
    body {font-size: 14px}
    .wrapper {min-width:1400px; padding:0}
    .resume {width:auto; max-width: none;}
    .title .picture img {visibility: visible}
    .sns, .icon, .work .links {display:none}
    @page {
        size: auto;   /* auto is the initial value */
        margin: 2rem;
    }
}

